# Cache and logs
*.pyc
.DS_Store

# Parameters

# Private project files

# Assets and user uploads

# Backup files
*.swp
*.bak

# ignore some test files

# tmplog
logs/
files/
*.log

# Distribution files
distribute/

# Config fils
*.conf
*.config
